body {
  background-color: #F3F5FC;
}

#titulo {
  font-size: 30px;
  font-weight: bold; 
  font-family: Consolas, monaco, monospace;
  font-size: 40px;   
  text-align: center;
  text-transform: uppercase;  
  color:  #0a3871;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}

main {
width: 100%;
}

.contenedorCentral {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
button{
  display: block;
  margin: 10px auto;
  width: 250px;
  height: 40px;
  color: #0a3871;
  background-color: rgb(255, 255, 255);
  font-family: Consolas, monaco, monospace;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  cursor: pointer; 
  border: solid;
  border-color: black;  
}

button:hover{
    background-color: rgb(225, 225, 225);
    transform: scale(1.1);
}

